    font-family: 'AR One Sans', sans-serif ;

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 5px 10px #888; */
}

#card-form-upload-post {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
}

.card-form-admin {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
    width: 50%;
}

#logo {
    font-size: 300%;
    text-shadow: 2px 2px #888;
    /* color: aqua; */
}

/* leaflet map */
#map {
    min-height: 250px;
    height: 100%;
    border-radius: 1em;
}

.img-preview {
    max-height: 100px;
}

.img-full {
    max-height: 75vh;
}

img.card-img-top.img-fluid {
    height: 25vh;
    object-fit: cover;
}
