/* font and background image for entire site */
body {
    font-family: 'AR One Sans', sans-serif ;
    background: url("../images/cloudy-sky-instapilot.jpg") no-repeat;
}

/* opaque styling on navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.6);
}

/* opaque styling on homepage background card */
.card {
    background-color: rgba(255, 255, 255, 0.8);
}

/* background card on add post form */
#card-form-upload-post {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
}

/* background card on register, login & logout forms */
.card-form-admin {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
    width: 50%;
}

/* background card surrounding image & caption on details page */
.details-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 1em;
}

/* background card surround image on edit page */
#card-edit {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
}

/* logo sizing and emphasis */
#logo {
    font-size: 300%;
    text-shadow: 2px 2px #888;
}

/* font-size and color of nav-links */
.nav-link {
    font-size: 150%;
    color: #000;
}

/* positioning for caption */
.caption {
    text-align: left;
}

/* positioning and bg color of footer */
footer {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* leaflet map */
#map {
    min-height: 250px;
    height: 100vh;
    border-radius: 1em;
}

/* image preview on edit_upload */
.img-preview {
    max-height: 100px;
}

/* sizing of image on details page */
.img-full {
    max-height: 80vh;
}

/* sizing of image within card on homepage */
img.card-img-top.img-fluid {
    height: 40vh;
    object-fit: cover;
}

/* media query for max-width 430px */
/* sizing of textarea on upload post form */
@media screen and (max-width: 430px) {
    #id_caption {
        width: 75%;
    }
}
