{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500;600&display=swap" rel="stylesheet">

  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- leaflet maps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">

  <!-- custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>InstaPilot</title>

</head>

<body class="d-flex flex-column h-100 main-bg">

  <!-- Navbar -->

  <nav id="nav-bar" class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <a id="logo" class="navbar-brand" href="{% url 'home' %}">InstaPilot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'upload_post' %}" class="nav-link">Add post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Content to be inserted from index.html -->
  <main class="container-fluid flex-shrink-0 main-bg">



    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
  </main>

  <!-- Footer -->
  <footer>
    <!-- Add footer content here -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="text-center">
            <p>&copy; 2023 InstaPilot. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
  </script>

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>

  <!-- leaflet maps -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
  </script>

  <!-- custom JS -->
  {% block js %}{% endblock %}

  <!-- messages -->
  <script>
    setTimeout(function() {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3000);
  </script>

</body>
</html>
