{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1>
      Edit a Post:<br>
      {% if "placeholder" in upload.image.url %}
          <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="{{ upload.caption }}" class="img-fluid img-preview">
      {% else %}
          <img src="{{ upload.image.url }}" alt="{{ upload.caption }}" class="img-fluid img-preview">
      {% endif %}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <form method="POST" action="{% url 'edit_upload' upload.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-6">
    <!-- map -->
    <div id="map"></div>
  </div>
</div>
{% endblock %}


{% block js %}

<!-- leaflet map: code assistance from mentor Tim Nelson -->
<script>

  // basic leaflet map set on Dublin Airport by default
  let origLat = document.getElementById("id_latitude").value;
  let origLng = document.getElementById("id_longitude").value;
  if (!origLat || !origLng) {
    origLat = 53.42662;
    origLng = -6.26290;
  }

  // initial view (set on Dublin Airport by default)
  let map = L.map('map').setView([origLat, origLng], 13);

  // tiles
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  // require lat/lng fields prior to submission
  function enableDisableSubmitBtn() {
    if ($("#id_latitude").val() == "" || $("#id_longitude").val() == "") {
      $("#submit-btn").prop("disabled", true);
    } else {
      $("#submit-btn").prop("disabled", false);
    }
  }

  // map marker
  let marker = L.marker([origLat, origLng], { draggable: true }).addTo(map);
  // prefill lat/lng values on map-click or marker-drag
  marker.on("dragend", function (e) {
    updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
  });
  map.on("click", function (e) {
    marker.setLatLng(e.latlng);
    updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
  });

  function updateCoords(lat, lng, zoom) {
    document.getElementById("id_latitude").value = marker.getLatLng().lat.toFixed(5);
    document.getElementById("id_longitude").value = marker.getLatLng().lng.toFixed(5);
    zoom = zoom < 10 ? 10 : zoom;
    map.flyTo([lat, lng], zoom);
    enableDisableSubmitBtn();
  }

</script>

{% endblock %}
