{% extends "base.html" %}

{% block content %}



<div class="row">

    {% for upload in upload_list %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="{% url 'upload_details' upload.id %}" class="text-decoration-none">
            <div class="card mb-4">
                <div class="card-body">
                    {% if "placeholder" in upload.image.url %}
                        <img src="https://res.cloudinary.com/dgnlyp5r0/image/upload/v1700596813/static/images/placeholder.8cf5de5d57c1.jpg" alt="{{ upload.caption }}" class="card-img-top img-fluid card-img-custom">
                    {% else %}
                        <img src="{{ upload.image.url }}" alt="{{ upload.caption }}" class="card-img-top img-fluid">
                    {% endif %}
                    
                    <div class="image-flash">
                        <p class="caption mt-3 mb-2 ml-auto">
                            <strong><i class="fas fa-user mb-2"></i> {{ upload.user }}:</strong> {{ upload.caption }}<br>
                            <i class="fas fa-plane mb-2"></i> ({{ upload.airline.identifier }}) {{ upload.airline.name }} {{ upload.flight_number }}<br>
                            <i class="fas fa-map-marker-alt"></i> {{ upload.location }}<br><br>
                            <!-- {{ upload.caption }} -->
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Pagination, decide whether to keep or have all on single page???? -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}