{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Upload details -->
    <div class="col-12 col-md-6 text-center mx-auto details-card">
        {% if "placeholder" in upload.image.url %}
        <img src="https://res.cloudinary.com/dgnlyp5r0/image/upload/v1700596813/static/images/placeholder.8cf5de5d57c1.jpg" alt="{{ upload.caption }}"
            class="img-fluid">
        {% else %}
        <img src="{{ upload.image.url }}" alt="{{ upload.caption }}" class="img-fluid img-full">
        {% endif %}

        <div class="row">
            <div class="col-12 mt-3">
                <p class="caption">
                    <strong><i class="fas fa-user mb-2"></i> {{ upload.user }}</strong>: {{ upload.caption }}<br>
                    <strong><i class="fas fa-plane mb-2"></i> Flight Number</strong>: {{ upload.airline }} {{ upload.flight_number }}<br>
                    <strong><i class="fas fa-map-marker-alt"></i> Location</strong>: {{ upload.location }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if request.user.is_superuser or request.user == upload.user %}
                <a href="{% url 'edit_upload' upload.id %}" class="btn btn-primary">Edit</a>
                <a href="" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modal-delete-img-{{ upload.id }}">Delete</a>

                <!-- Modal: Delete Upload -->
                <div class="modal fade" id="modal-delete-img-{{ upload.id }}" tabindex="-1"
                    aria-labelledby="modal-delete-label-{{ upload.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modal-delete-label-{{ upload.id }}">Delete Photo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                Are you sure you want to delete this photo?
                                <br>
                                <small>This action is permanent, and cannot be undone.</small>
                                <br><br>
                                {% if "placeholder" not in upload.image.url %}
                                <img src="{{ upload.image.url }}" alt="{{ upload.caption }}" class="img-fluid img-full">
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_post' upload.id %}" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 text-center mx-auto">
        <!-- map -->
        <div id="map"></div>
    </div>
</div>

{% endblock %}


{% block js %}

<!-- leaflet map: code assistance from mentor Tim Nelson -->
<script>

    // initial view (set on Dublin Airport by default)
    let map = L.map('map').setView([53.42662, -6.26290], 13);

    // tiles
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // basic leaflet map
    let mapLat = {{ upload.latitude }};
    let mapLng = {{ upload.longitude }};
    map.setView([mapLat, mapLng], 13);

    // map marker
    let marker = L.marker([mapLat, mapLng], { draggable: false }).addTo(map);

</script>

{% endblock %}
